:root {
  --egg-100: #ffb200;
  --egg-050: #ffd87f;
  --indigo-120: #140532;
  --indigo-110: #280f96;
  --indigo-100: #5528ff;
  --indigo-090: #8c82ff;
  --indigo-070: #c8c8ff;
  --aqua-120: #004b4b;
  --aqua-110: #009696;
  --aqua-100: #00c8c8;
  --black-100: #000000;
  --black-090: #191919;
  --black-060: #666666;
  --black-035: #a6a6a6;
  --black-020: #cccccc;
  --black-010: #e5e5e5;
  --black-003: #f7f7f7;
  --white-100: #ffffff;
  --green-140: #008759;
  --green-100: #00e295;
  --red-100: #e60c0c;
  --red-050: #ffa39e;
  --red-010: #fff1f0;
  --orange-100: #ff9e00;
}
