:root {
  --green-140: #008759;
  --redalert-100: #e60c0c;
  --black-055: #737373;
}

.roboto {
  font-family: 'Roboto' !important;
}

.roobert {
  font-family: 'Roobert' !important;
}

.typeColorContainer {
  display: flex;
  flex-direction: row;
}

.typeColorCard {
  margin: 13px;
  height: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.col {
  flex-direction: column;
  flex-basis: 100%;
  display: flex;
}

.good {
  border-top: var(--green-140) 10px solid;
}

.bad {
  border-top: var(--redalert-100) 10px solid;
}

.success {
  color: var(--green-140);
}

.regular {
  font-weight: 300 !important;
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.tableLabel {
  color: var(--black-055);
}
