:root {
  --white-100: #ffffff;
  --black-010: #e5e5e5;
  --border-radius: 3px;
  --card-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.card {
  background-color: var(--white-100);
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
}

.cardContentPadded > .card {
  box-shadow: none;
}

.cardHeader,
.cardContentPadded,
.cardFooter {
  padding: 8px 16px;
}

.cardHeader {
  border-bottom: 1px solid var(--black-010); /* u-border-bottom */
}
